body {
  padding: 0;
  margin: 0;
  overflow: hidden;
}

html,
body,
#app {
  width: 100%;
  height: 100%;
  user-select: none;
  font-size: 18px;
  font-family: Inter;
  box-sizing: border-box;

  *,
  *:before,
  *:after {
    box-sizing: inherit;
  }
}

:root {
  --main-color: #4040e9;
  --border-color: #f1f1f1;
  --font-color: #4040f2;
  --bg-color: #f5f6f7;
  --header-height: 70px;
  // el-primary主色
  --el-color-primary: #4040e9 !important;
}

//按钮颜色
.btn {
  width: 100% !important;
  height: 50px;
  font-size: 18px;
  border-radius: 3px !important;
  color: #fff !important;
  background: var(--main-color) !important;
}

.bold {
  font-weight: bold;
}

.hint {
  color: #A8B0B9;
}



.font_12 {
  font-size: 12px;
}

.font_14 {
  font-size: 14px;
}

.pd_20 {
  padding: 20px;
}

.mg_20 {
  margin: 20px 0;
}

.underline {
  text-decoration: underline;
}

.center {
  display: flex;
  align-items: center;
  gap: 2px;
}

.flex {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.empty {
  color: var(--el-text-color-secondary);
  line-height: 60px;
  width: 100%;
  text-align: center;
  font-size: 16px;
}

// ----------------------------------------------------------------------------

// 统一定制 radio-button 样式
.radio-group {
  gap: 20px;

  .el-radio-button__inner {
    width: 113px;
    height: 36px;
    font-family: PingFang SC;
    font-size: 14px;
    font-weight: 500;
    line-height: 18px;
    text-align: center;
    background-color: #fff;
    color: #000;
    box-sizing: content-box;
    border: 1px solid #d4d4d4;
    border-radius: 3px !important;
  }

  .el-radio-button.is-active .el-radio-button__original-radio:not(:disabled)+.el-radio-button__inner {
    border-color: #4040f2;
    color: #000;
    background: url(@/assets/img/Rectangle@3x.png) #d8d8fe no-repeat;
    background-size: 18px;
    background-position: 100% 100%;
    transition: all 0s;
    border-radius: 3px;

    &::after {
      content: url('img/dui.png');
      position: absolute;
      bottom: 1px;
      right: 2px;
      color: #fff;
    }
  }

  .el-radio-button__inner:hover {
    color: #4040f2;
  }
}

// 统一定制 pagination 样式
.pagination {
  .el-pagination.is-background .el-pager li.is-active {
    background-color: var(--main-color);
  }

  .el-pager li:hover {
    &:not(.is-active) {
      color: var(--main-color);
    }
  }

  .el-pagination button:hover {
    color: var(--main-color);
  }

  .el-pager li.is-active {
    color: var(--main-color);
  }

  .el-select-dropdown__item.is-selected {
    color: var(--main-color);
  }
}